<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{char_name}}</title>
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>
<h1>Character Sheet for {{char_name}}, the {{class}}</h1>

<p>Your max HP is: {{constitution}} + 8</p>

<form name='initial' action='/character/{{id}}' method='POST'>
<div>
    <label for="HP">HP:</label>
    <input type="text" id="HP" name="HP" value="{{hp}}" />
  </div>
  <div>
    <label for="level">Level:</label>
    <input type="integer" id="level" name="level" value="{{level}}" />
  </div>
  <div>
    <label for="armour">Armour:</label>
    <input type="integer" id="armour" name="armour" value="{{armour}}"></textarea>
  </div>
   <div>
    <label for="damage">Damage:</label>
    <input type="integer" id="damage" name="damage" value="{{damage}}"></textarea>
  </div>
    <div>
        <label for="strength">Strength:</label>
        <input type="integer" id="strength" name="strength" value="{{strength}}"/>
    </div>
    <div>
        <label for="strength">Dexterity:</label>
        <input type="integer" id="dexterity" name="dexterity" value="{{dexterity}}"/>
    </div>
    <div>
        <label for="strength">Constitution:</label>
        <input type="integer" id="constitution" name="constitution" value="{{constitution}}"/>
    </div>
    <div>
        <label for="strength">Intelligence:</label>
        <input type="integer" id="intelligence" name="intelligence" value="{{intelligence}}"/>
    </div>
    <div>
        <label for="strength">Wisdom:</label>
        <input type="integer" id="wisdom" name="wisdom" value="{{wisdom}}"/>
    </div>
    <div>
        <label for="strength">Charisma:</label>
        <input type="integer" id="charisma" name="charisma" value="{{charisma}}"/>
    </div>
    <input type="submit"Submit/>
    <a href="/character/{{id}}/delete">Delete</a>
</form>
<div>
    <h4>HACK AND SLASH</h4>
    <a href='/character/{{id}}/{{strength}}/hack' >Attack an enemy in melee (+STR)</a>
</div>
<div>
    <h4>VOLLEY</h4>
    <a href='/character/{{id}}/{{dexterity}}/volley' >Shoot at an enemy at range (+DEX)</a>
</div>
<div>
    <h4>PARLEY</h4>
    <a href='/character/{{id}}/{{charisma}}/parley' >Have leverage on a GM character and manipulate them (+CHA)</a>
</div>
<div>
    <h4>DEFY DANGER</h4>
    <p>Act despite an imminent threat 
        <ul>
            <li><a href='/character/{{id}}/{{strength}}/defy' >by powering through (+STR)</a></li>
            <li><a href='/character/{{id}}/{{dexterity}}/defy' >by getting out of the way or acting fast (+DEX)</a></li>
            <li><a href='/character/{{id}}/{{constitution}}/defy' >by enduring (+CON)</a></li>
            <li><a href='/character/{{id}}/{{intelligence}}/defy' >with quick thinking (+INT)</a></li>
            <li><a href='/character/{{id}}/{{wisdom}}/defy' >through mental fortitude (+WIS)</a></li>
            <li><a href='/character/{{id}}/{{charisma}}/defy' >sing charm and social grace (+CHA)</a></li>
        </ul>
        
    </p>
</div>
<div>
    <h4>DEFEND</h4>
    <p><a href='/character/{{id}}/{{constitution}}/defend' >Stand in defense of a person, item, or location (+CON)</a></p>
</div>
<div>
    <h4>DISCERN REALITIES</h4>
    <p><a href='/character/{{id}}/{{wisdom}}/discern' >Closely study a situation or person (+WIS)</a></p>
</div>
<div>
    <h4>SPOUT LORE</h4>
    <p><a href='/character/{{id}}/{{intelligence}}/lore' >Consult your accumulated knowledge about something (+INT)</a></p>
</div>
<div>
    <h4>AID OR INTERFERE</h4>
    <p><a href='/character/{{id}}/aid' >Help or hinder someone you have a bond with (+BOND)</a></p>
</div>
</body>
</html>

