<h3 class="center black white-text">Character Sheet</h3>
<h5 class="center black white-text">{{char_name}} the {{class}}</h5>

<form name='initial' action='/character/{{id}}' method='POST'>
<div class="row">
    <div class="col s3">
        <div>
            <label for="hp">HP  (Max HP CON + 8):</label><br>
            <input type="integer" id="hp" name="hp" value="{{hp}}"/>
        </div>
        <div>
            <label for="xp">XP:</label><br>
            <input type="integer" id="xp" name="xp" value="{{xp}}"/>
        </div>
        <div>
            <label for="level">Level:</label><br>
            <input type="integer" id="level" name="level" value="{{level}}"/>
        </div>
        <div>
            <label for="armour">Armour:</label><br>
            <input type="integer" id="armour" name="armour" value="{{armour}}"/>
        </div>
        <div>
            <label for="damage">Damage:</label><br>
            <input type="integer" id="damage" name="damage" value="{{damage}}"/>
        </div>
        <div>
            <label for="race">Race:</label><br>
            <input type="integer" id="race" name="race" value="{{race}}"/>
        </div>
    </div>
    <div class="col s3">
        <div>
            <label for="strength">Strength:</label><br>
            <input type="integer" id="strength" name="strength" value="{{strength}}"/>
        </div>
        <div>
            <label for="strength">Dexterity:</label><br>
            <input type="integer" id="dexterity" name="dexterity" value="{{dexterity}}"/>
        </div>
        <div>
            <label for="strength">Constitution:</label><br>
            <input type="integer" id="constitution" name="constitution" value="{{constitution}}"/>
        </div>
        <div>
            <label for="strength">Intelligence:</label><br>
            <input type="integer" id="intelligence" name="intelligence" value="{{intelligence}}"/>
        </div>
        <div>
            <label for="strength">Wisdom:</label><br>
            <input type="integer" id="wisdom" name="wisdom" value="{{wisdom}}"/>
        </div>
        <div>
            <label for="strength">Charisma:</label><br>
            <input type="integer" id="charisma" name="charisma" value="{{charisma}}"/>
        </div>
    </div>
    <div class="col s3">
        <div class="input-field">
          <textarea id="bonds" name = "bonds" class="materialize-textarea">{{bonds}}</textarea>
          <label for="bonds">Bonds:</label>
        </div>
        <div class="input-field">
          <textarea id="alignment" name = "alignment" class="materialize-textarea">{{alignment}}</textarea>
          <label for="alignment">Alignment:</label>
        </div>
    </div>
    <div class="col s3">
        <div class="input-field">
          <textarea id="items" name="items" class="materialize-textarea" >{{items}}</textarea>
          <label for="items">Items and Load:</label>
        </div>
    </div>
</div>
<div class="row">
<div class="col s11 center">
    <input class="btn black" type="submit" value="Save Changes"/>
    <a href="/character/{{id}}/notes" class="btn black">Notes</a>
    <a href="/character/{{id}}/roll" class="btn black">Roll</a>
    <a href="/character/{{id}}/{{class}}" class="btn black">Class Moves</a>
</div>
<div class="col s1 right">
    <a href="/character/{{id}}/delete" class="btn red darken-4"><i class="material-icons">delete_forever</i></a>
</div>
</div>
</form>

<hr>

<h4>Basic Moves</h4>
<div class="row">
    <div class="col s6">
        <div>
            <p>HACK AND SLASH:<br> <a href='/character/{{id}}/{{strength}}/hack' class="btn black">Attack an enemy in melee (+STR)</a></p>
        </div>
        <div>
            <p>VOLLEY:<br><a href='/character/{{id}}/{{dexterity}}/volley' class="btn black">Shoot at an enemy at range (+DEX)</a></p>
        </div>
        <div>
            <p>PARLEY:<br> <a href='/character/{{id}}/{{charisma}}/parley' class="btn black">Have leverage and manipulate (+CHA)</a></p>
        </div>
        <div>
            <p>DEFEND:<br> <a href='/character/{{id}}/{{constitution}}/defend' class='btn black'>Stand in defense (+CON)</a></p>
        </div>
        <div>
            <p>DISCERN REALITIES:<br> <a href='/character/{{id}}/{{wisdom}}/discern' class="btn black">Closely study a situation or person (+WIS)</a></p>
        </div>
    </div>
    <div class="col s6">
        <div>
            <p>SPOUT LORE:<br><a href='/character/{{id}}/{{intelligence}}/lore' class="btn black">Consult your knowledge (+INT)</a></p>
        </div>
        <div>
            <p>AID OR INTERFERE:<br><a href='/character/{{id}}/aid' class="btn black">Help or hinder someone (+BOND)</a></p>
        </div>
        <div>
            <p>DEFY DANGER: 
                <ul>
                    <li><a href='/character/{{id}}/{{strength}}/defy' class="btn black" >by powering through (+STR)</a></li>
                    <li><a href='/character/{{id}}/{{dexterity}}/defy' class="btn black">by acting fast (+DEX)</a></li>
                    <li><a href='/character/{{id}}/{{constitution}}/defy' class="btn black">by enduring (+CON)</a></li>
                    <li><a href='/character/{{id}}/{{intelligence}}/defy' class="btn black">with quick thinking (+INT)</a></li>
                    <li><a href='/character/{{id}}/{{wisdom}}/defy' class="btn black">through mental fortitude (+WIS)</a></li>
                    <li><a href='/character/{{id}}/{{charisma}}/defy' class="btn black">sing charm and social grace (+CHA)</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>


<hr>
<h4>Special Moves</h4>
<div class="row">
    <div class="col s6">
        <div>
            <p>ENCUMBRANCE:<br>
            <div class="card black">
                <div class="card-content white-text">
                    When you make a move while carrying weight up to or equal to Load, you're fine. When you make a move while carrying weight equal to load+1 or load+2, you take -1. When you make a move while carrying weight greater than load+2, you have a choice: drop at least 1 weight and roll at -1, or automatically fail</p>
                </div>
            </div>
        </div>
        <div>
            <p>MAKE CAMP:<br>
            <div class="card black">
                <div class="card-content white-text">
                    When you settle in to rest consume a ration. If you're somewhere dangerous decide the watch order as well. If you have enough XP you may level up. When you wake from at least a few uninterrupted hours of sleep heal damage equal to half your max HP</p>
                </div>
            </div>
        </div>
        <div>
            <p>TAKE WATCH:<br>
            <div class="card black">
                <div class="card-content white-text">
                    When you're on watch and something approaches the camp, </p>
                    <a href='/character/{{id}}/{{wisdom}}/watch' class="btn black">Roll +WIS</a>
                </div>
            </div>
        </div>
        <div>
            <p>LEVEL UP:<br> 
            <div class="card black">
                <div class="card-content white-text">
                    When you have downtime (hours or days) and XP equal to (or greater than) your current level +7, subtract your current level + 7 from your XP, increase your level by 1, and choose a new advanced move from your class. If you are the wizard, you also get to add a new spell to your spellbook. <br>
                    Choose one of your stats and increase it by 1. Changing your constitution increases your maximum and current HP. Ability scores can't go higher than 18.</p>
                </div>
            </div>
        </div>
        <div>
            <p>END OF SESSION:<br> 
            <div class="card black">
                <div class="card-content white-text">
                    When you reach end of a session, choose one of your bonds that you feel is resolved(completely explored, no longer relevant, or otherwise). Ask the player of the character you have the bond with if the agree. If they do, mark XP and write a new bond with whomever you wish. <br>
                    Look at your alignment. If you fulfilled that alignment at least once this session, mark XP. Then answer these three questions as a group:
                    <ul>
                        <li>- Did we learn something new and important about the world?</li>
                        <li>- Did we overcome a notable moster or enemy?</li>
                        <li>- Did we loot a memorable treasure?</li>
                    </ul>
                    For each "yes" answer everyone marks XP.</p>
                </div>
            </div>
        </div>
        <div>
            <p>CAROUSE:<br>
            <div class="card black">
                <div class="card-content white-text">
                    <p>When you return triumphant and throw a big party, spend 100 coin and roll + extra 100s coin spent.</p>
                    <a href='/character/{{id}}/carouse' class="btn black">Roll + 100s coin spent</a>
                </div>
            </div>
        </div>
        </div>
    <div class="col s6">
        <div>
            <p>SUPPLY:<br>
            <div class="card black">
                <div class="card-content white-text">
                    <p>When you go to buy something with gold on hand, if it's something readily available in the settlement you're in, you can buy it at market price. If it's something special, beyond what's usually available here, or non-mundane,</p>
                    <a href='/character/{{id}}/{{charisma}}/supply' class="btn black">Roll + CHA</a>
                </div>
            </div>
        </div>
        <div>
            <p>RECOVER:<br>
            <div class="card black">
                <div class="card-content white-text">
                    When you do nothing but rest in comfort and safety after a day of rest you recover all your HP. After three days of rest you remove one debility of your choice. If you're under the care of a healer, you heal a debility for every two days of rest instead.</p>
                </div>
            </div>
        </div>
        <div>
            <p>RECRUIT:<br>
            <div class="card black">
                <div class="card-content white-text">
                    When you put out word that you're looking to hire help, roll. If you make it known: 
                    <ul>
                        <li>that your pay is generous, take + 1</li>
                        <li>what you're setting out to do, take +1</li>
                        <li>that they'll get a share of whatever you find, take +1</li>
                    </ul>
                    If you have a useful reputation around these parts take an additional +1.<br>
                    <a href='/character/{{id}}/recruit' class="btn black">Roll + advantage</a>
                     </p>
                </div>
            </div>
        </div>
        <div>
            <p>OUTSTANDING WARRANTS:<br>
            <div class="card black">
                <div class="card-content white-text">
                    When you return to a civilised place in which you've caused trouble before,</p>
                    <a href='/character/{{id}}/{{charisma}}/warrants' class="btn black">Roll +CHA</a>
                </div>
            </div>
        </div>
        <div>
            <p>BOLSTER:<br>
            <div class="card black">
                <div class="card-content white-text">
                    When you spend your leisure time in study, meditation, or hard practice, you gain preparation. If you prepare for a week or two, 1 preparation. If you prepare for a month or longer, 3 preparation. When your preparation pays offspend 1 preparation for +1 to any roll. You can only spend one preparation per roll.</p>
                </div>
            </div>
        </div>
        <div>
            <p>UNDERTAKE A PERILOUS JOURNEY:<br>
            <div class="card black">
                <div class="card-content white-text">
                    <p>When you travel through hostile territory, choose one member of the party to act as trailblazer, one to scout ahead, and one to be quartermaster (the same character cannot have two jobs). If you do not have enough party members or choose not to assign a job, treat that job as if it had rolled a 6. Each character with a job to do </p>
                    <a href='/character/{{id}}/{{wisdom}}/journey' class="btn black">Roll + WIS</a>
                </div>
            </div>
        </div>
        <div>
            <p>LAST BREATH:<br> 
            <div class="card black">
                <div class="card-content white-text">
                    When you're dying you catch a glimpse of what lies beyond the Black Gates of Death's Kingdom (the GM will describe it). Then roll (just roll, +nothing-yeah, Death doesn't care how tough or cool you are).
                    <a href='/character/{{id}}/last' class="btn black">Roll</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
        })
      </script>

