 <div class="row">
    <h4 class="center black white-text">Defend</h4>
    <div class="col s2">
      First die roll: <h4>{{roll}} +</h4>
    </div>
    <div class="col s2">
        Second die roll: <h4>{{roll2}} + </h4><br><br>
        Your total roll: <div class="card"><h1>{{sum}}</h1></div>
    </div>
    <div class="col s2">
        Modifier: <h4>{{mod}}</h4></p>
    </div>
    <div class="col s4">
        <p>So long as you stand in defense, when you or the thing you defend is attacked you may spend hold to choose an option:
        <ul>
            <li>- Redirect an attack from the thing you defend to yourself</li>
            <li>- Halve the attack's effect or damage</li>
            <li>- Open up the attacker to an ally giving that ally +1 forward against the attacker</li>
            <li>- Deal damage to that attacker equal to your level</li>
        </ul>
        </p>
        <h4 class="black white-text">10+</h4>
            <p>Hold 3</p>
        <h4 class="black white-text">7-9</h4>
            <p>Hold 1</p>
        <h4 class="black white-text">6 and below</h4>
            <p>You fail. Mark experience</p>
    </div>
 </div>  
 <div class="center">
    <a href="/character/{{id}}/" class="btn black">Character Sheet</a>
  </div>
