 <div class="row">
    <h4 class="center black white-text">Last Breath</h4>
    <div class="col s2">
      First die roll: <h4>{{roll}} +</h4>
    </div>
    <div class="col s2">
        Second die roll: <h4>{{roll2}} + </h4><br><br>
        Your total roll: <div class="card"><h1>{{sum}}</h1></div>
    </div>
    <div class="col s2">
        Modifier: <h4>{{mod}}</h4></p>
    </div>
    <div class="col s4">
        <h4 class="black white-text">10+</h4>
            <p>You've cheated death - you're in a bad spot but you're still alive</p>
        <h4 class="black white-text">7-9</h4>
            <p>Death will offer you a bargain. Take it and stabilise or refuse and pass beyond the Black Gates into whatever fate awaits you</p>
        <h4 class="black white-text">6 and below</h4>
            <p>Your fate is sealed. You're marked as Death's own and you'll cross teh threshold soon. the GM will tell you when</p>
    </div>
 </div>  
 <div class="center">
    <a href="/character/{{id}}/" class="btn black">Character Sheet</a>
  </div>
