<div class="row">
  <h4 class="center black white-text">Spout Lore</h4>
  <div class="col s2">
      First die roll: <h4>{{roll}} +</h4>
  </div>
  <div class="col s2">
      Second die roll: <h4>{{roll2}} + </h4><br><br>
      Your total roll: <div class="card"><h1>{{sum}}</h1></div>
  </div>
  <div class="col s2">
      Modifier: <h4>{{mod}}</h4></p>
  </div>
  <div class="col s4">
    <h4 class="black white-text">10+</h4>
      <p>The GM will tell you something interesting and useful about the subject relevant to your situation</p>
    <h4 class="black white-text">7-9</h4>
      <p>The GM will only tell you something interesting - it's on you to make it useful. The GM may ask you "How do you know this?" Tell them the truth, now</p>
    <h4 class="black white-text">6 and below</h4>
      <p>You fail. Mark experience</p>
  </div>
</div>  
<div class="center">
  <a href="/character/{{id}}/" class="btn black">Character Sheet</a>
</div>