 <div class="row">
    <h4 class="center black white-text">Supply</h4>
    <div class="col s2">
      First die roll: <h4>{{roll}} +</h4>
    </div>
    <div class="col s2">
        Second die roll: <h4>{{roll2}} + </h4><br><br>
        Your total roll: <div class="card"><h1>{{sum}}</h1></div>
    </div>
    <div class="col s2">
        Modifier: <h4>{{mod}}</h4></p>
    </div>
    <div class="col s4">
        <h4 class="black white-text">10+</h4>
            <p>You find what you're looking for at a fair price</p>
        <h4 class="black white-text">7-9</h4>
            <p>You'll have to pay more or settle for something similar</p>
        <h4 class="black white-text">6 and below</h4>
            <p>Failed roll. Mark experience</p>
    </div>
 </div>  
 <div class="center">
    <a href="/character/{{id}}/" class="btn black">Character Sheet</a>
  </div>
