<div class="row">
  <h4 class="center black white-text">Volley</h4>
  <div class="col s2">
      First die roll: <h4>{{roll}} +</h4>
  </div>
  <div class="col s2">
      Second die roll: <h4>{{roll2}} + </h4><br><br>
      Your total roll: <div class="card"><h1>{{sum}}</h1></div>
  </div>
  <div class="col s2">
      Modifier: <h4>{{mod}}</h4></p>
  </div>
  <div class="col s4">
    <h4 class="black white-text">10+</h4>
        <p>You have a clear shot. Deal your damage</p>
    <h4 class="black white-text">7-9</h4>
        <p>Choose one of the following:
            <ul>
                <li>You have to move to get the shot placing you in danger of the GM's choice</li>
                <li>You have to take what you can get: -1d6 damage</li>
                <li>You have to take several shots, reducing your ammo by one</li>
            </ul>
        </p>
    <h4 class="black white-text">6 and below</h4>
        <p>Attack fails, mark experience</p>
  </div>
</div>  
<div class="center">
  <a href="/character/{{id}}/" class="btn black">Character Sheet</a>
</div>